<?xml version="1.0" encoding="utf-8"?>

<ClientConfiguration xmlns="urn:orleans">
  <Tracing DefaultTraceLevel="Info" TraceToConsole="true" TraceToFile="C:/logs/bet-processing-services/bp-orleans-client-{1}.log" WriteTraces="true" />
  <SystemStore SystemStoreType="SqlServer"
               DeploymentId="Unibet.BetProcessing.Orleans"
               DataConnectionString="Data Source=.;Initial Catalog=OrleansBP;Pooling=False;Max Pool Size=200;Asynchronous Processing=True;MultipleActiveResultSets=True;User Id=Orleans;Password=Orleans;"
               AdoInvariant="System.Data.SqlClient" />
  <GatewayProvider ProviderType="SqlServer" />
</ClientConfiguration>